{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <!-- ========== SEO ========== -->
    <title>Gandhara Civilization</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <!-- ========== FAVICON ========== -->
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/favicon-apple.png' %}"/>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <!-- ========== STYLESHEETS ========== -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.mmenu.css' %}">
    <link rel="stylesheet" href="{% static 'revolution/css/layers.css' %}">
    <link rel="stylesheet" href="{% static 'revolution/css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'revolution/css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- ========== ICON FONTS ========== -->
    <link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'fonts/flaticon.css' %}" rel="stylesheet">
    <!-- ========== GOOGLE FONTS ========== -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700%7CRoboto:100,300,400,400i,500,700" rel="stylesheet">
  </head>
  <body>
    <!-- ========== PRELOADER ========== -->
    <div class="loader loader3 dark">
      <div class="loader-inner">
        <div class="spin">
          <span></span>
          <img src="{% static 'images/logo.svg' %}" alt="Gandhara Civilization">
        </div>
      </div>
    </div>
    <!-- ========== MOBILE MENU ========== -->
    <nav id="mobile-menu"></nav>
    <!-- ========== WRAPPER ========== -->
    <div class="wrapper">
      <!-- ========== HEADER ========== -->
      <header class="vertical-header dark-header open-header" data-menutoggle="992">
        <div class="container">
          <!-- BRAND -->
          <div class="brand">
            <div class="logo">
              <!-- NORMAL LOGO -->
              <a href="{% url 'home' %}" class="big-logo">
                <img src="{% static 'images/logo-big-transparent.svg' %}" alt="Hotel Himara">
              </a>
              <!-- MOBILE LOGO -->
              <a href="{% url 'home' %}" class="mobile-logo">
                <img src="{% static 'images/logo.svg' %}" alt="Hotel Himara">
              </a>
            </div>
          </div>
          <div id="toggle-menu-button" class="toggle-menu-button">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
          <!-- MAIN MENU -->
          <nav id="main-menu" class="main-menu">
            <ul class="menu">
              <li class="menu-item  active">
                <a href="{% url 'home' %}">HOME</a>
              </li>
              <li class="menu-item ">
                <a href="{% url 'about' %}">ABOUT US</a>
              </li>
              <!-- <li class="menu-item dropdown">
                <a href="#">BLOG</a>
              </li> -->
             
              
              <!-- <li class="menu-item">
                <a href="contact.html">CONTACT US</a>
              </li> -->
              
            </ul>
          </nav>
        </div>
      </header>

    {% block content %}
    
    {% endblock content %}
   
     <!-- ========== JAVASCRIPT ========== -->
     <script src="{% static 'js/jquery.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
     <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
     <script src="{% static 'js/jquery.mmenu.js' %}"></script>
     <script src="{% static 'js/jquery.inview.min.js' %}"></script>
     <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
     <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'js/owl.carousel.min.js' %}"></script>
     <!-- <script src="{% static 'js/owl.carousel.thumbs.min.js' %}"></script> -->
     <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
     <!-- <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script> -->
     <!-- <script src="{% static 'js/masonry.pkgd.min.js' %}"></script> -->
     <script src="{% static 'js/wow.min.js' %}"></script>
     <!-- <script src="{% static 'js/countup.min.js' %}"></script> -->
     <script src="{% static 'js/moment.min.js' %}"></script>
     <script src="{% static 'js/daterangepicker.js' %}"></script>
     <!-- <script src="{% static 'js/parallax.min.js' %}"></script> -->
     <!-- <script src="{% static 'js/smoothscroll.min.js' %}"></script> -->
     <!-- <script src="{% static 'js/instafeed.min.js' %}"></script> -->
     <script src="{% static 'js/main.js' %}"></script>
     <!-- ========== REVOLUTION SLIDER ========== -->
     <script src="{% static 'revolution/js/jquery.themepunch.tools.min.js' %}"></script>
     <script src="{% static 'revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
     <!-- <script src="{% static 'revolution/js/extensions/revolution.extension.actions.min.js' %}"></script> -->
     <!-- <script src="{% static 'revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script> -->
     <!-- <script src="{% static 'revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script> -->
     <script src="{% static 'revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
     <script src="{% static 'revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
     <!-- <script src="{% static 'revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script> -->
     <script src="{% static 'revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
     <script src="{% static 'revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
     <!-- <script src="{% static 'revolution/js/extensions/revolution.extension.video.min.js' %}"></script> -->
   </body>
 </html>
 